$martphone: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

body,html
{
  font-family: "Helvetica Neue", "Helvetica", "Verdana", "Arial", "sans-serif";
}

div:not(.dropdown,.dropdown *)
{
  width:100vw;
  min-height:100vh;
}

#firstScreen
{
    .backgroundImage
    {
      background-color:rgb(219, 219, 219);
      background-image: url('../media/old_pic.jpg');
      background-size:cover;
      background-position:center center;
      display:table;

      position: fixed;
      top: 0;
      h1
      {
        font-size: 15vw;
        color:white;
        text-align:center;
        vertical-align:middle;
        display:table-cell;
        font-weight:900;
      }
    }
    .content
    {
      width:100vw;
      min-height:100vh;
      text-align:center;

      box-sizing: border-box;
      position: relative; //absolute;
      background: white;
      &:nth-of-type(2n)
      {
        margin-top: 90vh;

      }
      &:nth-of-type(2n - 1)
      {
        padding: 10vh 2vw;

      }
      &.scroller
      {
        max-height: 0;
        min-height: 0;
        vertical-align: baseline;
        width: 100vw;
        color:white;
        margin-bottom:10vh;
        text-align: center;
        opacity:.5;
      }
      h3
      {
        font-size:4.5vw;
        width: 80vw;
        margin:auto;
        text-align:center;
      }
      p
      {
        font-size:2vw;
        width: 50vw;
        margin:auto;
        text-align:center;
      }
      button
      {
        &.dropbtn
        {
          padding:.4vh .7vw;
          min-height:5vh;
          border-width:.15em;
          @media #{$desktop} {
            min-width:20vw;
            margin: 0;
          }
          @media #{$tablet} {
            min-width:20vw;
            margin: 0;
          }
          @media #{$martphone} {
            min-width:40vw;
            margin: 0 2vw;
          }
        }
      }
      .dropdown
      {
        //position: relative;
        display: inline-block;
        margin-top:4vh;
        margin-bottom:4vh;
        button
        {
          font-size:1.5em;
        }
        .dropdown-content
        {
          display: none;
          position: absolute;
          left:0;
          width: 100vw;
          z-index:2;
          a
          {
            padding: 1rem 1rem;
            display: inline-block;
            margin:.5rem 1rem 1rem 1rem;
            color: black;
            text-decoration: none;
            span
            {
              font-size:1.2vw;
              font-weight:200;
            }
            &.active
            {
              background-color:#bbbbbb;
            }
          }
        }
        &:hover .dropdown-content
        {
          display: block;
        }
      }
    }
    footer
    {
      margin-top: 10vh;
      a
      {
        color:black;
      }
    }
}
