$smartphone: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$portrait: "(orientation: portrait)";
$landscape: "(orientation: landscape)";

div:not(.dropdown,.alert,.dropdown *)
{
  width:100vw;
  min-height:100vh;
}

#firstScreen
{
    .backgroundImage
    {
      background-image: url('../media/old_pic.jpg');
      background-size:cover;
      background-position:center center;
      display:table;

      position: fixed;
      top: 0;
      h1
      {
        font-size: 15vw;
        color:white;
        font-family:"Helvetica Neue", "Helvetica", "Verdana", "Arial", "sans-serif";
        text-align:center;
        vertical-align:middle;
        display:table-cell;
        font-weight:900;
      }
    }
    .content
    {
      width:100vw;
      min-height:100vh;
      text-align:center;

      box-sizing: border-box;
      position: relative; //absolute;
      //background: white;//VARABLE
      &:nth-of-type(2n)
      {
        margin-top: 90vh;
      }
      &:nth-of-type(2n - 1)
      {
        padding: 10vh 2vw;

      }
      &.scroller
      {
        max-height: 0;
        min-height: 0;
        vertical-align: baseline;
        width: 100vw;
        color:white;
        margin-bottom:10vh;
        text-align: center;
        opacity:.5;
        p
        {
          color:white;
        }
      }
      h3
      {
        font-size:4.5vw;
        width: 80vw;
        margin:auto;
        text-align:center;
      }
      p
      {
        font-size:2vw;
        width: 50vw;
        margin:auto;
        text-align:center;
      }
      button
      {
        &.buttonExeption
        {
          background:white!important;
          border-color:black!important;
          color:black!important;
        }
        &.dropbtn
        {
          padding:.4vh .7vw;
          min-height:5vh;
          border-width:.15em;
          @media #{$desktop} {
            min-width:20vw;
            margin: 0;
          }
          @media #{$tablet} {
            min-width:20vw;
            margin: 0;
          }
          @media #{$smartphone} {
            min-width:40vw;
            margin: 0 2vw;
          }
        }
      }
      .dropdown
      {
        //position: relative;
        display: inline-block;
        @media #{$smartphone} {
          width: 100%;
          margin-top:4vh;
          margin-bottom:3vh;
        }
        @media #{$smartphone} and #{$landscape}
        {
          margin-bottom:7vw;
        }
        @media #{$tablet} {
          margin-top:4vh;
          margin-bottom:10vh;
        }
        @media #{$desktop} {
          margin-top:4vh;
          margin-bottom:12vh;
        }
        button
        {
          font-size:1.5em;
        }
        .dropdown-content
        {
          display: none;
          position: absolute;
          left:0;
          width: 100vw;
          z-index:2;
          a
          {
            padding: 1rem 1rem;
            display: inline-block;
            margin:.5rem 1rem 1rem 1rem;
            font-size:3vw;
            span
            {
              font-size:1.2vw;
              font-weight:200;
            }
            &.active
            {
              //background-color:rgba(black,.5);//VARIABLE
            }
          }
        }
        &:hover .dropdown-content
        {
          display: block;
        }
      }
      #help-list
      {
        margin-top:2vw;
        p
        {
          line-height: 1.2;
        }
        span
        {
          font-size: .6rem;
          border: 3px solid black;
          padding: 2px 10px;
          margin:0 5px;
          border-radius: 5px;
        }
      }
    }
    footer
    {
      margin-top: 10vh;
    }
}
