@import "reset";

body,html,section
{
  width:100vw;
  min-height:100vh;
  font-size:2vw;
}
.hidden
{
  visibility:hidden;
  display:none;
  opacity:0;
  height:0;
  overflow:hidden;
}
section
{
  display: table;
}
hr
{
  border-bottom:.2em solid black;
  width:30vw;
  margin:2rem auto;
}
button
{
  border-radius:5px;
  padding:.8vh .4vw;
  margin: 4vh 1vw;
  min-width:15vw;
  min-height:10vh;
  border: .2em solid black;
  font-size:1.2rem;
  font-weight:500;
  background-color:white;
  cursor:pointer;
  &,
  &:link,
  &:hover,
  &:active,
  &:visited
  {
    color:black;
    text-decoration:none;
  }
}
