@import "reset";
@import "theming";
$smartphone: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1024px)";
$desktop: "(min-width: 1025px)";


body,html,section
{
  width:100vw;
  min-height:100vh;
  font-size:1.8vw;
  @media #{$smartphone} {
    font-size:4vw;
  }
}
.hidden
{
  visibility:hidden;
  display:none;
  opacity:0;
  height:0;
  overflow:hidden;
}
section
{
  display: table;
}
hr
{
  border:none;
  border-bottom:.2em solid black;
  width:30vw;
  margin:2rem auto;
}
button
{
  padding:2vh 10vw;
  font-size:5vw;
  font-weight:500;
  cursor:pointer;
  border-radius:5px;
  margin: 4vh 1vw;
  border-width: .2em;
  border-style: solid;
  &,
  &:link,
  &:hover,
  &:active,
  &:visited
  {
    text-decoration:none;
  }
}
a
{
  text-decoration: none;
}
.overlay
{
  position:fixed;
  z-index:10;
  top:0;
  left:0;
  right:0;
  @media #{$smartphone}
  {
    width:96vw;
    padding:0 2vw;
  }
  @media #{$tablet}
  {
    width:80vw;
    padding:0 10vw;
  }
  @media #{$desktop}
  {
    width:70vw;
    padding:0 15vw;
  }

  text-align:left;
}
.alert
{

  height:15vh;
  display:table;
  font-weight:900;
  p
  {
    font-size: 4.5vw;
    display:table-cell;
    vertical-align:middle;
  }
}
.full
{

  min-height:100vh;
  bottom:0;
  &:not('.infoScreen') h3
  {
    margin-top:25vh;
  }
  &.infoScreen h3
  {
    margin: 5vh auto 1vh auto;
  }
  h3
  {
    font-size:2rem;
    font-weight:900;

  }
  p
  {
    text-align:left!important;
  }
  input
  {
    text-align:center;
    margin:auto;
    width:100%;
    outline:none;
    cursor: pointer;
  }
}
.part
{
  &Information
  {
    display: block;
    float: left;
    height:100vh;
    overflow:auto;
    @media #{$smartphone}
    {
      width:100%;
    }
    @media #{$tablet}
    {
      width:70%;
    }
    @media #{$desktop}
    {
      width:70%;
    }
  }
  &Button
  {
    width:30%;
    display: block;
    float: left;
    @media #{$smartphone}
    {
      width:100%;
    }
    @media #{$tablet}
    {
      width:30%;
    }
    @media #{$desktop}
    {
      width:30%;
    }
  }
}
.help-list-text
{
  margin-top:2vw;
  display: block;
  font-size:.8rem!important;
  & > span
  {
    &.halfWidth
    {
      width:50%;
    }
    &.fullWidth
    {
      width:100%;
    }
    @media #{$smartphone}
    {
      width:100%;
      &:nth-of-type(1n+2)
      {
        margin-top:2rem;
      }
    }
    display:block;
    float:left;
  }
  p
  {
    line-height: 1.4;
    font-size:1em;
    font-weight:500;
    br
    {
      display: none;
    }
    @media #{$smartphone}
    {
      line-height: 1.5;
      width:100%;
      br
      {
        display: block;
      }
    }
    &:nth-last-child(1)
    {
      margin-bottom:20px!important;
    }
    span
    {
      font-size: .8em;
      border-width: 2px;
      border-style: solid;
      padding: 1px 5px;
      margin: 0px 5px;
      border-radius: 5px;
      @media #{$smartphone}
      {
        border-width:.5px;
        padding: 2px 4px;
        margin:0 2px;
      }
    }
  }
  h3
  {
    font-size:1.5em;
    font-weight:700;
  }
  h4
  {
    font-size: 1.2em;
    &:nth-of-type(1n+2)
    {
      margin-top:1rem;
    }
    span
    {
      font-size: .6em;
      font-weight:100;
    }
  }
}
input[type=file] {
    margin: 0 auto;
    padding-top:2rem;
    font-size:1.5em;
    &::-webkit-file-upload-button {
      visibility: hidden;
    }
    &::before {
      content: 'Upload .txt file';

      display: inline-block;
      font-size:1.5rem;
      outline:none;
      border-radius:5px;
      padding: 2vh 10vw;
      margin: 4vh 1vw;
      border-width: .2em;
      border-style:solid;
      white-space: nowrap;
      -webkit-user-select: none;
      cursor: pointer;
      background-color:white;
      display: block;
      text-align:center;
      position: relative;
      left: 0;
      right: 0;
      top: 7vh;
    }
}
