@import "reset";
@import "theming";

body,html,section
{
  width:100vw;
  min-height:100vh;
  font-size:2vw;
}
.hidden
{
  visibility:hidden;
  display:none;
  opacity:0;
  height:0;
  overflow:hidden;
}
section
{
  display: table;
}
hr
{
  border:none;
  border-bottom:.2em solid black;
  width:30vw;
  margin:2rem auto;
}
button
{
  border-radius:5px;
  padding:2vh 10vw;
  margin: 4vh 1vw;
  border-width: .2em;
  border-style: solid;
  //border-color: black;//VARIABLE
  font-size:2rem;
  font-weight:500;
  //background-color:white;//VARIABLE
  cursor:pointer;
  &,
  &:link,
  &:hover,
  &:active,
  &:visited
  {
    //color:black;//VARIABLE
    text-decoration:none;
  }
}
a
{
  //color:black;//VARIABLE
  text-decoration: none;
}
