div
{
  display: table;
  width:100vw;
  height:25vh;
p,input
{
  font-family:"-webkit-standard","Times New Roman","Times", "Serif";
  min-width:94vw;
  min-height:25vh;
  margin:0;
  border:none;
  padding:1vh 3vw;
  float:left;
  text-align: center;
  font-size:4rem;
  outline:none;
  display: table-cell;
  vertical-align: middle;
  transition: background-color .3s ease;
  &:focus
  {
    background-color:#EFEFEF;
  }
}
}
