//body,html
//{
//  font-family:"Times New Roman","Times", "Serif";
//}
@import "fb";
#writerScreen
{
  div
  {
    display: table;
    width:100vw;
    height:25vh;
  p,textarea
  {
    width: 100%;
    max-width: 100%;
    min-width:50vw;
    min-height:25vh;
    max-height:100vh;
    margin:0;
    border:none;
    padding:1vh 3vw;
    text-align: center;
    font-size:2rem;
    outline:none;
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
    transition: background-color .3s ease;
    &:focus
    {
      background-color:rgba(#EFEFEF,.5);
    }
  }
  p
  {
    b
    {
      padding:10px 20px;;
      border-radius:4px;
      font-weight: 900;
    }
  }
  textarea
  {
    background-color:rgba(#EFEFEF,.8);
  }
  }
  .editContainer
  {
    display: flex;
    .item
    {
      width: 100vw;
      margin: auto;
      min-width: 50vw;
      max-width: 100vw;
    }
    &.FacebookscreenVisible
    {
      .item
      {
        &.facebookLiveScreen
        {
          padding: 0 3vw 3vh 3vw;
          box-sizing: border-box;
        }
        width: 50vw;
        h3
        {
          margin: auto;
        }
      }
    }

  }
}
