//body,html
//{
//  font-family:"Times New Roman","Times", "Serif";
//}
#writerScreen
{
  div
  {
    display: table;
    width:100vw;
    height:25vh;
  p,input:not([type=file])
  {
    min-width:94vw;
    min-height:25vh;
    max-height:100px;
    margin:0;
    border:none;
    padding:1vh 3vw;
    text-align: center;
    font-size:2rem;
    outline:none;
    display: table-cell;
    vertical-align: middle;
    transition: background-color .3s ease;
    &:focus
    {
      background-color:rgba(#EFEFEF,.5);
    }
  }
  p
  {
    b
    {
      padding:10px 20px;;
      border-radius:4px;
      font-weight: 900;
    }
  }
  input:not([type=file])
  {
    background-color:rgba(#EFEFEF,.2);
  }
  }
}
